.main{
    margin-top:100px ;
    margin-bottom: 200px;
}

.firstTxt{
    margin: 0 auto ;
    width: 80%;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-align: start;
}

.background{
    background-color: var(--background-color);
    padding: 0.2% 0;
}

.secondTxt{
    margin: 100px auto ;
    width: 80%;
}

.list{
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-align: start;
}

.title{
    font-size: 26px;
    font-weight: 600;
    
}