.section{
    min-height:41vh;
    background: url('src/assets/NaslovnaSlika.png');
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
}

.title{
    color: white;
    font-size: 70px;
    max-width: 64%;
    margin: 0 auto;
    padding-top: 130px;
}