/* .kontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:100px 0 ;
}

.location{
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
}
.line{
    width: 30%;
}

.main{
    width: 100%;
} */

.kontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 130px;
   margin-bottom: 30px;
  
}


.location{
    margin-bottom: 50px;
}
.line{
    width: 30%;
}