
.header{
    min-height: 70vh;
    background: url('Headerdarker.png');
    background-size: cover;
    background-position: center;
}


.text{
    font-size: 64px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 600px;
    padding-left: 50px;
    
   
}
.title{
    border-left: 3px solid var(--main-color);
    padding-left: 10px;
    padding-right: 50px;
}

.numbers{
    display: flex;
    justify-content: end;
    margin-right: 20%;
}

.projectsNumber{
    width: 150px;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    word-wrap: break-word;
}

.yearNumber{
    width: 150px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    word-wrap: break-word;
}

.num{
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

.txt{
    font-size: 14px;
} 

@media screen and (max-width: 500px) {

    .title{
        font-size: 50px;
    }
    .numbers{
        width: 100%;
    }

    .yearNumber, .projectsNumber{
        width: 50%;
    }
}