.header{
    min-height: 90vh;
    background: url('../../../assets/Header.png');
    background-size: cover;
    background-position: center;
}

.header .wrapper{
    position: relative;
    height: 100vh;
}

.header .cta{
    position: absolute;
    top:20%;
    left: 10%;
    width: 80%;
}

.cta{
    color: white;
    font-size: 70px;
    line-height: 0.4;
}

.boldTxt{
    font-weight: bold;
}

.numbers{
    display: flex;
    justify-content: end;
    margin-right: 20%;
}

.projectsNumber{
    width: 190px;
    height: 190px;
    background-color: var(--dark-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.yearNumber{
    width: 190px;
    height: 190px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.num{
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;
}

.txt{
    font-size: 19px;
}