:root{
    --main-color:#FFB400;
    --dark-color:#2A2A2A;
    --background-color:#F5F5F5;
}

*,
*::after,
*::before{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: 'Kanit', sans-serif;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
}

a{
    text-decoration: none;

}